In [1]:
import pandas as pd
import numpy as np
import datetime
import random

# Series
## Random date series between two dates

In [2]:
# Generate list of random dates
start = datetime.date(2018,1,1)
end = datetime.date(2018,12,31)
dates = [start + (end-start)* random.random() for i in range(6)]
dates

[datetime.date(2018, 9, 25),
 datetime.date(2018, 5, 15),
 datetime.date(2018, 5, 23),
 datetime.date(2018, 4, 2),
 datetime.date(2018, 12, 25),
 datetime.date(2018, 8, 20)]

## Random int Series

In [3]:
pd.Series(np.random.randint(2, high=10, size=5), name='Value')

0    7
1    2
2    3
3    5
4    2
Name: Value, dtype: int32

## Random Letter Series

In [4]:
import string, random
pd.Series(random.choice(string.ascii_uppercase) for _ in range(100))

0     N
1     A
2     J
3     W
4     U
     ..
95    L
96    R
97    O
98    G
99    K
Length: 100, dtype: object

## Random letter + number series
(for e.g. machine number generation)

In [5]:
['N'+ str(random.randint(i, i+5)) for i in range(6)]

['N2', 'N6', 'N3', 'N7', 'N7', 'N7']

## Sample dataframe and dictionary

In [6]:
import pandas as pd
import numpy as np

i = ['dog', 'cat', 'rabbit', 'elephant'] * 3

df = pd.DataFrame(np.random.randn(len(i), 2), index=i, columns=list('AB'))
df

                 A         B
dog       2.145477  1.966752
cat       0.331885 -1.636612
rabbit   -0.380758  1.395995
elephant -2.584510  1.204241
dog      -0.733554 -0.046915
cat       0.498927  0.774123
rabbit    0.206429 -1.012396
elephant  1.067448 -0.655173
dog      -1.074828  0.432398
cat       0.961994  0.094233
rabbit    2.000470  0.184014
elephant  1.021342  0.305608

In [7]:
b_dict = {'elephant': 2.0, 'dog': 5.0}
b_dict

{'elephant': 2.0, 'dog': 5.0}

# Generate fake OHLC data
One can use the following code to generate fake daily ohlc data

In [8]:
# Generate fake stock data
import pandas as pd
import numpy as np
import ta

np.random.seed(10)

# generate ohlc data
days = 500
dates = pd.date_range('20180101', periods=days)

# . generate close
steps = np.random.normal(loc=0, scale=1.0, size=days)
steps[0]=0 # set the first step to 0
c = 72 + np.cumsum(steps) # simulate daily close starting from 72

# . generate opens

# . change between close and open
c_o_change = np.random.uniform(low=-0.05, high=0.05, size=days-1)

o=c[:-1]*c_o_change+c[:-1] # open
o=np.append(72.3, o)

h_change = np.random.normal(loc=0, scale=0.008, size=days)
l_change = np.random.uniform(low=-0.008, high=-0.01, size=days)

# . high and low
h=pd.DataFrame([o, c]).max()*(1+abs(h_change))
l=pd.DataFrame([o, c]).min()*(1-abs(l_change))

# . generate the bollinger bands
bb=ta.volatility.BollingerBands(close=pd.Series(c), n=20, ndev=2)

bb_ma=bb.bollinger_mavg()
bb_hi=bb.bollinger_hband()
bb_lo=bb.bollinger_lband()

volume = abs(np.random.normal(loc=500000, scale=499999, size=days).astype('int'))

df=pd.DataFrame({'date': dates, 'open': o, 'high': h, 'low': l, 'close': c, 'volume': volume,
                 'bb_ma': bb_ma, 'bb_hi': bb_hi, 'bb_lo': bb_lo})

df

,date,open,high,low,close,volume,bb_ma,bb_hi,bb_lo
0,2018-01-01,72.300000,72.783241,71.291271,72.000000,191895,NaN,NaN,NaN
1,2018-01-02,72.921513,73.357836,72.023951,72.715279,521467,NaN,NaN,NaN
2,2018-01-03,73.684400,74.062499,70.549987,71.169879,943231,NaN,NaN,NaN
3,2018-01-04,69.769818,71.432672,69.144806,71.161495,930929,NaN,NaN,NaN
4,2018-01-05,73.412815,74.159161,71.078967,71.782831,186510,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
495,2019-05-11,88.123011,89.587983,86.122274,86.913448,1239282,87.041374,88.758415,85.324334
496,2019-05-12,89.181439,89.692494,86.219080,86.969763,692222,86.979700,88.611891,85.347509
497,2019-05-13,83.767324,88.263665,82.992540,87.515547,536449,86.983206,88.619679,85.346733
498,2019-05-14,84.501309,87.432225,83.662950,86.832425,663581,86.904166,88.403702,85.404630
499,2019-05-15,89.590361,90.203609,85.349863,86.173408,404606,86.835901,88.337980,85.333822