In [4]:
import pandas as pd
import numpy as np
import datetime
import random

# Series
## Random date series between two dates

In [5]:
# Generate list of random dates
start = datetime.date(2018,1,1)
end = datetime.date(2018,12,31)
dates = [start + (end-start)* random.random() for i in range(6)]
dates

[datetime.date(2018, 5, 27),
 datetime.date(2018, 11, 6),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 6, 20),
 datetime.date(2018, 6, 4),
 datetime.date(2018, 11, 13)]

## Random int Series

In [28]:
pd.Series(np.random.randint(2, high=10, size=5), name='Value')

0    3
1    2
2    6
3    8
4    7
Name: Value, dtype: int32

## Random Letter Series

In [33]:
import string, random
pd.Series(random.choice(string.ascii_uppercase) for _ in range(10))

0    S
1    P
2    K
3    O
4    M
5    P
6    L
7    E
8    D
9    P
dtype: object

## Random letter + number series
(for e.g. machine number generation)

In [71]:
['N'+ str(random.randint(i, i+5)) for i in range(6)]

['N2', 'N3', 'N2', 'N5', 'N7', 'N6']

## Sample dataframe and dictionary

In [4]:
import pandas as pd
import numpy as np

i = ['dog', 'cat', 'rabbit', 'elephant'] * 3

df = pd.DataFrame(np.random.randn(len(i), 2), index=i, columns=list('AB'))
df

                 A         B
dog       0.570091 -0.016479
cat       1.627092  0.851708
rabbit   -2.245752  0.932566
elephant -0.680759 -0.367488
dog       1.213193 -0.682809
cat       0.223349  1.111415
rabbit    1.339825  0.352325
elephant  1.488095 -0.119866
dog       1.006355  0.176992
cat       0.403359 -1.396385
rabbit    0.179236 -1.100523
elephant  0.927701  1.307578

In [2]:
b_dict = {'elephant': 2.0, 'dog': 5.0}
b_dict

{'elephant': 2.0, 'dog': 5.0}

# Generate fake OHLC data
One can use the following code to generate fake daily ohlc data

In [1]:
# Generate fake stock data
import pandas as pd
import numpy as np
import ta

np.random.seed(10)

# generate ohlc data
days = 500
dates = pd.date_range('20180101', periods=days)

# . generate close
steps = np.random.normal(loc=0, scale=1.0, size=days)
steps[0]=0 # set the first step to 0
c = 72 + np.cumsum(steps) # simulate daily close starting from 72

# . generate opens

# . change between close and open
c_o_change = np.random.uniform(low=-0.05, high=0.05, size=days-1)

o=c[:-1]*c_o_change+c[:-1] # open
o=np.append(72.3, o)

h_change = np.random.normal(loc=0, scale=0.008, size=days)
l_change = np.random.uniform(low=-0.008, high=-0.01, size=days)

# . high and low
h=pd.DataFrame([o, c]).max()*(1+abs(h_change))
l=pd.DataFrame([o, c]).min()*(1-abs(l_change))

# . generate the bollinger bands
bb=ta.volatility.BollingerBands(close=pd.Series(c), n=20, ndev=2)

bb_ma=bb.bollinger_mavg()
bb_hi=bb.bollinger_hband()
bb_lo=bb.bollinger_lband()

volume = abs(np.random.normal(loc=500000, scale=499999, size=days).astype('int'))

df=pd.DataFrame({'date': dates, 'open': o, 'high': h, 'low': l, 'close': c, 'volume': volume,
                 'bb_ma': bb_ma, 'bb_hi': bb_hi, 'bb_lo': bb_lo})

df

,date,open,high,low,close,volume,bb_ma,bb_hi,bb_lo
0,2018-01-01,72.300000,72.783241,71.291271,72.000000,191895,72.000000,72.000000,72.000000
1,2018-01-02,72.921513,73.357836,72.023951,72.715279,521467,72.357639,73.072918,71.642361
2,2018-01-03,73.684400,74.062499,70.549987,71.169879,943231,71.961719,73.224694,70.698744
3,2018-01-04,69.769818,71.432672,69.144806,71.161495,930929,71.761663,73.056498,70.466828
4,2018-01-05,73.412815,74.159161,71.078967,71.782831,186510,71.765897,72.924156,70.607637
...,...,...,...,...,...,...,...,...,...
495,2019-05-11,88.123011,89.587983,86.122274,86.913448,1239282,87.041374,88.758415,85.324334
496,2019-05-12,89.181439,89.692494,86.219080,86.969763,692222,86.979700,88.611891,85.347509
497,2019-05-13,83.767324,88.263665,82.992540,87.515547,536449,86.983206,88.619679,85.346733
498,2019-05-14,84.501309,87.432225,83.662950,86.832425,663581,86.904166,88.403702,85.404630
499,2019-05-15,89.590361,90.203609,85.349863,86.173408,404606,86.835901,88.337980,85.333822