In [7]:
import pandas as pd
df=pd.read_clipboard()

In [19]:
print(df.drop('id',1))

   Mix             TypeA  TypeB
0  701        12,101,102    9.0
1  702           7,11,16    7.0
2  703  12,102,NaN,11,16    7.0
3  704            5,3,16    NaN
4  705   101,102,10,3,16    6.0

In [5]:
code_dict = {12: 'a', 102: 'b', 7: 'c', 11: 'd', 16: 'e', 5: 'f'}

In [6]:
code_dict

{12: 'a', 102: 'b', 7: 'c', 11: 'd', 16: 'e', 5: 'f'}

In [ ]:
pd.concat([df.TypeA.str.split(',', expand=True), df.TypeB]).apply(lambda x: code_dict[x], 1)

In [30]:
pd.to_numeric(df.TypeA.str.split(',', expand=True), errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [60]:
def f(x):
    try:
        result = code_dict[x]
    except KeyError:
        result = x
    return result

dfa = df.TypeA.str.split(',', expand=True).\
        apply(pd.to_numeric, errors='coerce').applymap(f)

In [62]:
dfr = pd.concat([df.iloc[:, :2], dfa, df.TypeB.map(f)], axis=1)

In [57]:
df

   id  Mix             TypeA  TypeB
0   0  701        12,101,102    9.0
1   1  702           7,11,16    7.0
2   2  703  12,102,NaN,11,16    7.0
3   3  704            5,3,16    NaN
4   4  705   101,102,10,3,16    6.0

In [78]:
dfa

     0    1    2    3    4
0    a  101    b  NaN  NaN
1    c    d    e  NaN  NaN
2    a    b  NaN    d    e
3    f    3    e  NaN  NaN
4  101    b   10    3    e

In [95]:
dfa.to_dict('records')

[{0: 'a', 1: 101, 2: 'b', 3: nan, 4: nan},
 {0: 'c', 1: 'd', 2: 'e', 3: nan, 4: nan},
 {0: 'a', 1: 'b', 2: nan, 3: 'd', 4: 'e'},
 {0: 'f', 1: 3, 2: 'e', 3: nan, 4: nan},
 {0: 101, 1: 'b', 2: 10.0, 3: 3.0, 4: 'e'}]

In [128]:
recs = [list(i.values()) for i in dfa.to_dict('records')]
print(recs)

[['a', 101, 'b', nan, nan], ['c', 'd', 'e', nan, nan], ['a', 'b', nan, 'd', 'e'], ['f', 3, 'e', nan, nan], [101, 'b', 10.0, 3.0, 'e']]

In [127]:
[x for x in recs]

[['a', 101, 'b', nan, nan],
 ['c', 'd', 'e', nan, nan],
 ['a', 'b', nan, 'd', 'e'],
 ['f', 3, 'e', nan, nan],
 [101, 'b', 10.0, 3.0, 'e']]

In [111]:
pd.Series(['a', 101, 'b', nan, nan])

NameError: name 'nan' is not defined

In [112]:
float('NaN')

nan

In [129]:
code_dict = {12: 'a', 102: 'b', 7: 'c', 11: 'd', 16: 'e', 5: 'f'}
d = {str(k): v for k, v in code_dict.items()}

df.TypeA = df.TypeA.apply(lambda x: ','.join(d.get(y, y) for y in x.split(',')))
df.TypeB = df.TypeB.apply(lambda x: code_dict.get(x, x))
print (df)

   id  Mix         TypeA TypeB
0   0  701       a,101,b     9
1   1  702         c,d,e     c
2   2  703   a,b,NaN,d,e     c
3   3  704         f,3,e   NaN
4   4  705  101,b,10,3,e     6

In [130]:
df.TypeA

0         a,101,b
1           c,d,e
2     a,b,NaN,d,e
3           f,3,e
4    101,b,10,3,e
Name: TypeA, dtype: object

In [134]:
df.TypeA.apply(lambda x: ','.join(d.get(y,y) for y in x.split(',')))

0         a,101,b
1           c,d,e
2     a,b,NaN,d,e
3           f,3,e
4    101,b,10,3,e
Name: TypeA, dtype: object

In [135]:
'12,101,102'.split(',')

['12', '101', '102']

In [138]:
','.join([d.get(y, y) for y in '12,102,NaN,11,16'.split(',')])

'a,b,NaN,d,e'